:root {
    --bottom-radius:#E3E4F1;
    --bottom-radius-black: #393A4B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #e6eaec;
}

.background {
    width: 100%;
    height: 190px;
    background-image: url(images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.last-buttons-mobile-dark {
    background-color:#25273D;
}

.background-dark {
    background-image: url(images/bg-mobile-dark.jpg);
}

.first-conteiner {
    width: 87.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 48px;
}

.logo-text {
    font-size: 25px;
    color: #fff;
    letter-spacing: 8px;
}

.moon {
    display: block;
    width: 20px;
    height: 20px;
}

.sun {
    display: none;
    width: 20px;
    height: 20px;
}

.new-todo-input {
    border: none;
    width: 100%;
    height: 48px;
    border-radius:5px;
    outline: none;
    color: #9495A5;
    background-color: #fff;
}

.new-todo-input:valid {
    font-size:18px;
    letter-spacing: 0.25px;
    color:#393A4B;
    font-family: 'Josefin Sans', sans-serif;
}

.new-todo-input-dark:valid {
    font-size:18px;
    letter-spacing: 0.25px;
    color:#C8CBE7;
    font-family: 'Josefin Sans', sans-serif;
}

.new-todo-input-dark {
    border: none;
    width: 100%;
    height: 48px;
    border-radius:5px;
    outline: none;
    color: #9495A5;
    background-color: #25273D;
}

.input-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: var(--card-color);
    height: 48px;
    background-color: #fff;
    margin-top: 40px;
    width: 87.5%;
    border-radius: 5px;
}

.input-conteiner-dark {
    background-color:#25273D;
}

.round {
    width: 20px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid;
    opacity: 15%;
    margin-left: 20px;
    margin-right: 12px;
}

.round-dark {
    background-color:#25273D;
    border: 2px solid #494C6B;
}

.dark-input {
    background-color: #25273D;
    color: #767992;
}

.add-todo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 25px;
}

.add-todo-dark {
    background-color:#25273D;
    color: #494C6B;
}

.todo-conteiner {
    width: 87.5%;
    box-shadow: 0px 35px 50px -19px #C2C3D6;
    border-radius: 5px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(-18px);
}

.todo-conteiner-dark {
    background-color:#25273D;
    box-shadow: none;
}

.checkbox {
    width: 20px;
    aspect-ratio: 1;
    outline: 0;
    border: 1px solid #0000002d;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox:hover {
    border-color: 
}

.checkbox-dark {
    background: #25273D;
    border: 1px solid #393A4B;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
}

.li-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E3E4F1;
}

.li-box-dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #393A4B;
}

.checkbox:checked {
    border: none;
    background-image: url("images/icon-check.svg"), linear-gradient(#57ddff, #c058f3);;
}

.hide {
    display: none;
}

.task {
    font-size: 12px;
    color: #494C6B;
    width: 80%;
    justify-content: flex-start;
    padding-left: 15px;
}

.task-dark {
    color:#C8CBE7;
    width: 80%;
    justify-content: flex-start;
    font-size: 12px;
    padding-left: 15px;
}

.checkbox:checked + .task {
    text-decoration: line-through;
    color: #D1D2DA;
}

.checkbox:checked + .task-dark {
    text-decoration: line-through;
    color: #4D5067;
}

.remove {
    font-size: 15px;
    width: 16px;
    border: none;
    display: none;
    position: relative;
    background: none;
}

.remove-dark {
    background-color:#25273D;
}

.cross {
    width: 13px;
}

.cross-dark {
    color: #979797;
}

.li-box:hover .remove {
    display: flex;
}


.todos {
    list-style:none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clear-complited, .items-left {
    font-size:14px;
    color: #9495A5;
    letter-spacing: -0.19px;
    font-weight: 400;
    text-decoration: none;
}

.clear-complited-dark, .items-left-dark {
    font-size: 14px;
    color: #5B5E7E;
    letter-spacing: -0.19px;
    font-weight: 400;
    text-decoration: none;
}

.clear-complited-dark:hover, .items-left-dark:hover {
    color: #E3E4F1;
}

.clear-complited:hover,.items-left:hover {
    color: #494C6B;
}

.last-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding-left: 24px;
    padding-right: 24px;
}

.last-box-dark {
    background-color: #25273D;
}

.filter-btns {
    text-decoration: none;
    color: #9495A5;
    font-size: 14px;
    font-weight: 700;
}

.filter-btns-dark {
    color: #5B5E7E;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}



.last-buttons-mobile {
    margin-top: 16px;
    width: 87.5%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    border-radius: 5px;
}

.last-buttons-mobile-dark {
    margin-top: 16px;
    width: 87.5%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    border-radius: 5px;
    background-color:#25273D;
}

.last-buttons-desktop {
    display: none;
    gap: 19px;
}

.last-buttons-desktop-dark {
    display: none;
    gap: 19px;
    background-color: #25273D;
}

.active {
    color: #3A7CFD;
}

.filter-btns:hover {
    color: #494C6B;
}

.filter-btns-dark:hover {
    color:#E3E4F1;
}

.last-text {
    font-size: 14px;
    color: #9495A5;
    margin-top: 40px;
    font-weight: 400;
    letter-spacing: -0.19px;
}

@media screen and (min-width: 550px) {

    .first-conteiner {
        padding-top: 70px;
        width: 540px;
    }
    .logo-text {
        font-size: 30px;
    }

    .moon {
        width: 26px;
        height: 26px;
    }

    .sun {
        width: 26px;
        height: 26px;
    }

    .background {
        height: 300px;
        background-image: url(images/bg-desktop-light.jpg);
    }

    .background-dark {
        background-image: url(images/bg-desktop-dark.jpg)
    }

    .input-conteiner {
        width: 540px;
        height: 64px;
        margin-top: 48px;
    }

    .todo-conteiner {
        transform: translateY(-60px);
        width: 540px;
    }

    .last-buttons-desktop {
        display: flex;
    }

    .last-buttons-mobile {
        display: none;
    }

    .last-text {
        margin-top: 0px;
    }

    .checkbox {
        width: 24px;
    }
    
    .li-box {
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .task, .task-dark {
        font-size: 18px;
        padding-left: 15px;
    }
    
    .remove {
        width: 20px;
    }

    .cross {
        width: 20px;
    }

}